.button_agregar,
.button_favoritos {
  padding: 10px 20px; /* Espacio alrededor del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color de fondo */
  color: #eeeeee; /* Color del texto (puedes ajustar según lo necesites) */
}

.button_agregar {
    margin-right: .2rem;
  background-color: #1B1A55; /* Color de fondo para el botón de agregar */
}

.button_favoritos {
    margin-left: .2rem;
  background-color: #535C91; /* Color de fondo para el botón de favorito */
}

.button_agregar:hover,
.button_favoritos:hover {
  opacity: 0.8; /* Reduce la opacidad al pasar el ratón */
}
