.forget_article {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh; /* Centra el contenido verticalmente */
  background-color: var(--color-primario);
  padding: 20px;
}

.forget_section {
  background-color: var(--color-secundario);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
}

.forget_inputs {
  margin-bottom: 15px;
}

.input {
  display: block;
  margin-bottom: 5px;
  color: var(--fuente-oscura);
  font-weight: bold; /* Resalta la etiqueta */
}

.input_field {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-ternario);
  border-radius: 5px;
  font-size: 16px; /* Aumenta el tamaño de la fuente */
  transition: border-color 0.3s; /* Transición suave en el borde */
}

.input_field:focus {
  border-color: var(--color-cuaternario); /* Cambia el borde al enfocar */
  outline: none; /* Elimina el contorno predeterminado */
}

.submit {
  background-color: var(--color-cuaternario);
  color: var(--fuente-clara);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; /* Transición suave en el fondo */
}

.submit:hover {
  background-color: var(--color-ternario); /* Cambio de color en hover */
}
