* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*   outline: 1px solid red;
  border-radius: 3px; */
}

:root {
  --color-primario: #f4eeff;
  --color-secundario: #dcd6f7;
  --color-ternario: #a6b1e1;
  --color-cuaternario: #424874;

  --fuente-clara: #faf9ff;
  --fuente-oscura: #2b2c3a;
}
