.navsearch {
  margin-right: 2rem;
  position: relative;
  width: 100%;
}

.navsearch_input {
  max-width: 15rem;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s;
}

.navsearch_input:focus {
  border-color: #00adb5;
}

.results_container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
  max-height: 300px; /* Limita la altura máxima */
  overflow-y: auto;  /* Habilita el desplazamiento vertical */
  padding: 10px;
}

.result_item {
  padding: 10px;
  display: flex;
  align-items: center;
}

.result_item:hover {
  background-color: #f0f0f0;
}

.result_link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.result_link img {
  margin-right: 10px;
}

.conteiner_all {
  border-radius: 5px;
  padding-right: 5px;
  margin-top: 0.5rem;
  background-color: #657392;
  position: absolute;
  z-index: 999;
  max-width: 15rem;
  max-height: 200px; /* Limita la altura de los resultados */
  overflow-y: auto; /* Agrega la barra de desplazamiento vertical */
  border: 1px solid var(--color-cuaternario);
}

.conteiner_searching {
  display: flex;
  align-items: center;
}

.conteiner_searching_link {
  text-decoration: none;
  color: var(--color-cuaternario);
}

.conteiner_searching_result {
  margin-top: 0.5rem;
  color: aliceblue;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
