.register_conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Para centrar verticalmente */
  background-color: var(--color-primario);
  padding: 20px; /* Espaciado alrededor del formulario */
}

.register {
  background-color: var(--color-secundario);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
}

.register_f {
  width: 100%; /* Asegura que los campos llenen el ancho del formulario */
  margin-bottom: 15px; /* Espaciado entre campos */
  padding: 10px; /* Espaciado interno */
  border: 1px solid var(--color-ternario);
  border-radius: 5px;
  font-size: 16px; /* Tamaño de fuente adecuado */
}

.register_f:focus {
  border-color: var(--color-cuaternario); /* Cambio de color en foco */
  outline: none; /* Quita el contorno predeterminado */
}

.button {
  background-color: var(--color-cuaternario);
  color: var(--fuente-clara);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: var(--color-ternario); /* Cambio de color en hover */
}
